<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProyecto</servlet-name>
        <servlet-class>Servlet.RegistrarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Servlet.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarProyecto</servlet-name>
        <servlet-class>Servlet.BorrarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuario</servlet-name>
        <servlet-class>Servlet.BorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProyecto</servlet-name>
        <servlet-class>Servlet.ModificarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Servlet.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuscribirseProyecto</servlet-name>
        <servlet-class>Servlet.SuscribirseProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroNuevo</servlet-name>
        <servlet-class>Servlet.RegistroNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoProyecto</servlet-name>
        <servlet-class>Servlet.NuevoProyecto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProyecto</servlet-name>
        <url-pattern>/RegistrarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarProyecto</servlet-name>
        <url-pattern>/BorrarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuario</servlet-name>
        <url-pattern>/BorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProyecto</servlet-name>
        <url-pattern>/ModificarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuscribirseProyecto</servlet-name>
        <url-pattern>/SuscribirseProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroNuevo</servlet-name>
        <url-pattern>/RegistroNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoProyecto</servlet-name>
        <url-pattern>/NuevoProyecto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
